.Canvas {
  width: 100% !important;
  min-height: 500px !important;
}

.Actions {
  text-align: center;
}

.Actions button {
  margin-left: 10px;
}

.Solution {
  text-align: center;
}

.Solution input {
  margin: 0 10px;
}

.Move {
  background-color: var(--nc-bg-2);
  padding: 10px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

.ActiveMove {
  background-color: var(--nc-bg-3);
  padding: 10px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}
